body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4c4c4c;
  flex-direction: column;
}

.container {
  margin: 20px 0;    
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100%;
  position: sticky;
  background-color: #d6d6d6;
  box-shadow: #0000001f 0 1px 8px;
  display: flex;
  justify-content: space-between;
  height: 65px;
}

.logo img {
  width: 90px;
  margin: 0 30px;
}

.user-container {
  margin: 20px;
}

.container img {
  width: 500px;
}

.reviews {
  display: flex;
}