body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100%;
  color: #4c4c4c;
  flex-direction: column;
  user-select: none;
}

.container {
  margin: 20px 0;    
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100%;
  position: sticky;
  background-color: #d6d6d6;
  box-shadow: #0000001f 0 1px 8px;
  display: flex;
  justify-content: space-between;
  height: 65px;
}

.logo img {
  width: 90px;
  margin: 0 30px;
}

.user-container {
  margin: auto 10px;
}

.container img {
  width: 100%;
}

.reviews {
  display: flex;
}

button {
  background-color: #717171;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  color: #dbdbdb;
  font-weight: 700;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #4c4c4c;
}

.review-card {
  padding: 15px;
}

.break {
  height: 1px;
  width: 90%;
  background-color: #4c4c4c;
  margin: 15px 0 10px;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-property {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: #0000001f 0 1px 8px;
}

.card-property img {
  width: 100%;
  margin: 5px;
}

.footer {
  width: 100%;
  background-color: #c7c7c7;
  bottom: 0;
  text-align: center;
  padding: 30px 0;
  /* color: #d6d6d6; */
}